      <div class="blog-post mt-5">
            <h2 class="blog-post-title"><%=link_to blog.title.upcase, blog%></h2>
            <h5><%= link_to blog.topic.title, topics_path%></h5>
               <%-#A kovetkezo sora a distance_of_time_in_words vagy a time_ago_in_words method irja ki szavakkal a datum alapjan mikor volt krealva a pst. Ket argument, az elso a kreacio az adatbazisbol a masodik az ido most es a ketto kulonbsegevel szamol -%>


            <div class="blog_body_height"><%= markdown(blog.body)%></div>
            <h6 class="mt-5">Last comment:</h6>
            <p class="ml-2 text-muted">
               <% if blog.comments.last == nil %>
               - No comment for this blog yet -
               <% else %>
               <%= blog.comments.last.content %> - <span class="small"><em>Created by::<%= blog.comments.last.user.name %> - <%= distance_of_time_in_words(blog.comments.last.created_at, Time.now) %> ago</em></span></p>
               <% end %> 
            
            <hr>



            <p class="blog-post-meta">Published: <%= distance_of_time_in_words(blog.created_at, Time.now) %></p>



            <% if logged_in?(:site_admin) %>
            <nav class="breadcrumb bg-light">
               <%= link_to blog.status.capitalize, toggle_status_blog_path(blog), class:"breadcrumb-item" %><%= link_to 'Edit', edit_blog_path(blog), class:"breadcrumb-item text-primary"  %><%= link_to 'Destroy', blog, class:"breadcrumb-item text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </nav>
            <% end %>

        
      </div><!-- /.blog-post -->

