      <div class="blog-post mt-5">
            <h2 class="blog-post-title"><%=link_to blog.title.upcase, blog%></h2>
               <%-#A kovetkezo sora a distance_of_time_in_words vagy a time_ago_in_words method irja ki szavakkal a datum alapjan mikor volt krealva a pst. Ket argument, az elso a kreacio az adatbazisbol a masodik az ido most es a ketto kulonbsegevel szamol -%>


         <p><%= blog.body %></p>

            
            <hr>



            <p class="blog-post-meta">Published: <%= distance_of_time_in_words(blog.created_at, Time.now) %></p>



            <% if logged_in?(:site_admin) %>
               <p class="blog-post-meta">
               <%= link_to blog.status, toggle_status_blog_path(blog) %> /
               <%= link_to 'Edit', edit_blog_path(blog), class:"text-primary"  %> /
               <%= link_to 'Destroy', blog, class:"text-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

            <% end %>

        
      </div><!-- /.blog-post -->

