<div class="col-md-8 blog-main">


  <h2><%= @blog.title %></h2>
  <h5><%= link_to @blog.topic.title, topics_path%></h5>


  <nav class="breadcrumb bg-light">
   <%= link_to 'Edit', edit_blog_path(@blog), class:"breadcrumb-item" if logged_in?(:site_admin) %><%= link_to 'Destroy', @blog,class:"text-danger breadcrumb-item", method: :delete, data: {confirm: "Are you sure"} if logged_in?(:site_admin)%><%= link_to 'Back', blogs_path, class:"breadcrumb-item" %>
  </nav>


  <p>
      <%= markdown(@blog.body) %>
  </p>


  <p>
    <strong>Created at::</strong>
    <%= distance_of_time_in_words(@blog.created_at, Time.now) %>
  </p>

  <!-- Start of the comment form -->
  <%= render 'comments/comment_form' %>
  <!-- End of the comment form -->

  
  <!-- Start of the comments -->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  <!-- End of the comments -->
  </div>

 </div>

