<h1>Portfoilo Items</h1>
</br>
<h3><%= link_to "Create New Item", new_portfolio_path %></h3>

</br>
</br>

<% @portfolio_items.each do |valtozo_item| %>
  <h2><%= link_to valtozo_item.title, portfolio_path(valtozo_item.id) %></h2>
  <p><%= valtozo_item.subtitle %></p>
  <p><%= valtozo_item.body %></p>
  <%= image_tag valtozo_item.thumb_image if !valtozo_item.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(valtozo_item.id) %>
  <%= link_to "Delete Portfolio Item", portfolio_path(valtozo_item), method: :delete, data: {confirm: "Are you sure"}%>
<% end %>