<head><%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %></head>

<header class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4 align-bottom mt-5 mb-5">

                     <Strong><h1 class="text-muted font-italic align-middle display-4 lead">Explore the Portfolio Part of Adam's site</h1></Strong>
                     
                       <nav class="list-unstyled font-weight-light text-muted h4">
                       <%= nav_helper 'text-muted pr-3','span'%>
                       </nav>
     
            </div>
            
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark shadow-sm border boreder-left-0 border-right-0 ">
        <div class="container d-flex justify-content-between">
          <div class="col-rw-4">
          
            <% if logged_in?(:site_admin) %>
            <%= link_to "Create new Portfolio Post", new_portfolio_path, class:"text-primary" %>
            <% else %>
            <%= link_to "Contact with the owner of this Site", contact_path, class:"text-primary"  %>
            <% end %>

          </div>
          
          <div class="col-rw-2">
            <p id="notice" style="margin: auto"><%= notice %></p>
          </div>
          <div class="col-rw-6">
          <%= login_helper 'p-2 text-primary' %>
          </div>
        </div>
    



</header>