
<div><h1>About Me</h1>
</br>
<p>I would like to give a warm welcome to my new site!</p>
</br>
<p>I started to make websites around eight years ago, I think this made me in to what i am today, a classic coder. Everything you can see on this site is developed, designed and created by hand from scratch.</p></div><br>

<div class="skills w-50 m-auto"><h2>Skills</h2><br>
 <% @skills.each do |skill|%>
 <strong><%= skill.title %></strong>
  <div class="progress" style="border-radius: 11px; height: 20px; border: 2px solid white">
     <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar bg-muted <%= color_of_bar(skill.percent_utilized) %>" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax ="100" style="width: <%= skill.percent_utilized %>%"><strong class="text-left pl-3 text-light"> - <%= level_of_bar(skill.percent_utilized) %> - </strong>
     </div>
  </div>
 <% end %>
</div>
