<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Start of nav -->

    <%= render 'shared/blog_nav' %>

    <!-- End of nav -->

    <!-- Start of blog header-->

    <%= render 'shared/blog_masthead' %>

    <!-- End of blog header-->

    <!-- Start of container-->

      <main role="main" class="container">


  <div class="row">

    <!-- End of container-->


    <%= yield %>


<%= render 'shared/blog_sidebar' %>


    <!-- End of Sidebar -->

    <!-- Start of Footer -->


  </div>


<%= render 'shared/blog_footer' %>

    <!-- End of Footer -->

  <%= source_hepler("Blog") %>

  </body>
</html>
